{% extends "layout.html" %}

{% block content %}
<swiper-container navigation="false" pagination="false" scrollbar="true">
    <swiper-slide>
        <div class="flex flex-col justify-center items-center h-[30rem]">
            <div
                class="lg:mx-36 mx-5 lg:px-0 px-5 py-6 bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div id="scrollspy-scrollable-parent-1" class="max-h-[400px] overflow-y-auto">
                    <div id="navbar-collapse-basic"
                        class="block overflow-hidden transition-all duration-300 basis-full grow sm:block">
                        <div data-hs-scrollspy="#scrollspy-1"
                            data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-1"
                            class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5 [--scrollspy-offset:220] md:[--scrollspy-offset:70]">
                            <div class="flex flex-col justify-center items-center">
                                <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    Pendahuluan
                                    Tuberculosis
                                </h1>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    TBC merupakan singkatan dari <em class="font-italic">Tuberculosis</em>. Yang dimana
                                    penyakit
                                    ini
                                    termasuk
                                    dalam golongan penyakit menular.
                                    Awal mula dari <em class="font-italic">Tuberculosis</em> ialah disebabkan oleh
                                    bakteri
                                    <em class="font-italic">Mycobacterium
                                        Tuberculosis(M.Tb)</em> .Yang dimana bakteri tersebut bisa menyerang siapa saja
                                    dan
                                    bagian
                                    organ tubuh yang diserang biasanya pada paru-paru, tulang belakang, kulit, otak,
                                    kelenjar
                                    getah
                                    bening dan jantung. Penularan dari bakteri ini biasanya melalui udara, yang dimana
                                    ketika
                                    orang
                                    yang terkena TBC itu batuk secara langsung di tempat umum tanpa ditutup dengan
                                    tangan,
                                    maka
                                    kuman tersebut akan keluar dan bertebaran melalui udara dan dapat terhirup oleh
                                    orang
                                    yang
                                    ada disekitarnya yang dapat memungkinkan tertular penyakit ini.
                                </p>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    Menurut WHO, sebanyak 1,5 juta orang meninggal akibat penyakit TBC di tahun 2020.
                                    Penyakit
                                    ini
                                    merupakan penyakit dengan urutan ke–13 yang paling banyak menyebabkan kematian, dan
                                    menjadi
                                    penyakit
                                    menular nomor dua yang paling mematikan setelah COVID-19. Indonesia berada di urutan
                                    ke–3
                                    negara
                                    dengan kasus TBC tertinggi di dunia setelah India dan Cina. Data tahun 2019
                                    menunjukkan,
                                    ada
                                    sekitar
                                    845.000 penderita TBC di Indonesia.

                                    Penyakit ini dapat berakibat fatal bagi penderitanya jika tidak segera ditangani.
                                    Meski
                                    begitu,
                                    TBC
                                    adalah penyakit yang dapat disembuhkan dan bisa dicegah.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="flex flex-col justify-center items-center h-[30rem]">
            <div
                class="lg:mx-36 mx-5 lg:px-0 px-5 py-6 bg-white rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div id="scrollspy-scrollable-parent-1" class="max-h-[400px] overflow-y-auto">
                    <div id="navbar-collapse-basic"
                        class="block overflow-hidden transition-all duration-300 basis-full grow sm:block">
                        <div data-hs-scrollspy="#scrollspy-1"
                            data-hs-scrollspy-scrollable-parent="#scrollspy-scrollable-parent-1"
                            class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5 [--scrollspy-offset:220] md:[--scrollspy-offset:70]">
                            <div class="flex flex-col justify-center items-center">
                                <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                    Penjelasan Algoritma CNN
                                </h1>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    Convolutional Neural Network (CNN) adalah jenis arsitektur Deep Learning yang paling
                                    sering digunakan untuk memproses data gambar. CNN terinspirasi oleh cara kerja
                                    visual cortex pada hewan dan manusia, di mana fitur-fitur penting dari suatu gambar
                                    diambil dengan melakukan konvolusi pada gambar tersebut.
                                </p>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    CNN terdiri dari beberapa lapisan, yaitu lapisan konvolusi, lapisan pooling, dan
                                    lapisan fully connected. Lapisan konvolusi berfungsi untuk mengambil fitur-fitur
                                    penting dari gambar, lapisan pooling berfungsi untuk mengurangi dimensi dari gambar,
                                    dan lapisan fully connected berfungsi untuk mengklasifikasikan gambar.
                                </p>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                                    CNN memiliki keunggulan dalam memproses data gambar karena mampu mengambil
                                    fitur-fitur
                                    penting dari gambar secara otomatis. CNN juga memiliki kemampuan untuk mempelajari
                                    fitur-fitur penting dari gambar secara hierarkis, yaitu dari fitur-fitur sederhana
                                    seperti garis dan sudut hingga fitur-fitur kompleks seperti wajah dan objek.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </swiper-slide>
</swiper-container>
{% endblock %}